.Input{
    width: 40px;
    height: 4vh;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color:transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    outline: none;
    margin-left: 1rem;
    font-size: 1.5rem;

    &::placeholder{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        color: #fff;
    }

    &:placeholder-shown{
        padding-left: 1rem;
    }

}

@media (max-width: 425px){
    .Input{
        width: 30vw;
    }
}