.Editor{
    height: 60vh;
    width: 65vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;

    .Editor--ImgContainer{
        height: 60vh;
        width: 45vw;
        position: relative;

        .Editor--Img{
            height: 60vh;
            width: auto;
        }

        .Editor--ImgInsertText{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;

            .Editor--ImgInsertTextContainer{
                height: 100%;
                width: 100%;
                position: relative;
            }
        }
    }

    .Editor--Content{
        display: flex;
        flex-direction: column;
    }
}