.Editor{
    min-height: 60vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;

    .Editor--ImgContainer{
        height: 60vh;
        width: auto;
        position: relative;
        overflow: hidden;

        .Editor--Img{
            height: 60vh;
            width: auto;
        }

        .Editor--ImgInsertText{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            overflow: hidden;

            .Editor--ImgInsertTextContainer{
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;
            }
        }
    }

    .Editor--Content{
        height: 40vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .Editor--ContentHeadline{
            font-size: 2.5rem !important;
            font-weight: 400;
            color: #E5FFDE;
            text-transform: capitalize;
        }
    }
}

@media(max-width: 425px){
    .Editor{
        min-height: 70vh;
        width: 90vw;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 5rem;

        .Editor--ImgContainer{
            height: auto;
            width: 90vw;

            .Editor--Img{
                height: auto;
                width: 90vw;
            }
        }

        .Editor--Content{
            height: 40vh;
            width: 70vw;
            justify-content: space-between;
            margin-top: 2rem;

            .Editor--ContentHeadline{
                font-size: 2rem !important;
                text-align: center;
            }
        }
    }
}