.Navbar{
    height: 12vh;
    width: 100vw;
    background-color: #0C0F0A;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #E5FFDE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    .Navbar--Title{
        font-size: 5rem;
        font-family: 'Monoton', cursive;
        font-weight: 400;
        color: #E5FFDE;
        margin-left: 5vw;
    }

    .Navbar--Links{
        height: 100%;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .Navbar--Links--Label {
            font-family: 'Monoton', cursive;
            color: #E5FFDE;
            border: 1px solid #E5FFDE;
            border-radius: 0.5rem;
            padding: 1rem 2rem;
            outline: none;
            cursor: pointer;
            font-size: 2rem;
            margin-top: 2rem;
            text-transform: uppercase;

            &:hover {
                border-color: #FE4A49;
                background-color: #FE4A49;
            }
        }

        .Navbar--Links--Link {
            visibility: hidden;

            &:focus{
                outline: none;
            }
        }

    }
}

@media (max-width: 425px){
    .Navbar{

        .Navbar--Title{
            font-size: 3rem;
            margin-left: 4vw;
        }

        .Navbar--Links{
            width: 50%;

            .Navbar--Links--Label {
                font-size: 1.7rem;
                margin-top: 0;
                margin-left: 5rem;
                font-family: 'Sen', sans-serif;
            }
        }
    }

}