@import url('https://fonts.googleapis.com/css?family=Monoton|Sen:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  font-family: 'Sen', sans-serif;
}

a{
  text-decoration: none;
}

