@font-face {
    font-family: 'Impact';
    src: url('../../fonts/Impact.woff2') format('woff2'),
        url('../../fonts/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Writer{
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .Writer--Area{
        width: 200px;
        height: 100px;
        font-family: 'Impact';
        border: none;
        background-color:transparent;
        color: #0C0F0A;
        outline: none;
    }

    .Writer--Tools{
        width: auto;
        height: 30px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;

        .Writer--ToolsLogo {
            height: 20px;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}