.Writer{
    z-index: 10;
    width: auto;
    height: auto;
    font-family: 'Sen', sans-serif;
    border: none;
    background-color:transparent;
    // border-bottom: 1px solid #0C0F0A;
    color: #0C0F0A;
    outline: none;
    font-size: 2.5rem;
}