@font-face {
    font-family: 'Impact';
    src: url('../../fonts/Impact.woff2') format('woff2'),
        url('../../fonts/Impact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Writer{
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .Writer--Area{
        width: 200px;
        height: 100px;
        font-family: 'Impact';
        border: none;
        background-color:transparent;
        color: #0C0F0A;
        outline: none;
        font-size: 2.5rem;
    }

    .Writer--Tools{
        width: 50px;
        height: 25px;
        background-color: #0C0F0A;
    }
}